
body {
  background-color: rgb(40, 213, 219);
  color: #e0a3a3;
  font-size: 16px;
  margin: 0;
}

.logo {
  width: 120px;
  margin: 5px;
  
}

.navbar {
  align-items: center;
  background: rgb(54, 42, 161);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px 50px;
}
.but{
  height: 50px;
}
.meta{
  height: 50px;
}

.push-left {
  margin-left: auto;
}
.send{
  margin: 10px 20px;
  
}
.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    background: #fff;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatey(-100%);
    text-align: center;
  }
  .menu-active .nav-menu {
    transform: translatey(0%);
    opacity: 1;
  }
}
.nav-menu .menu-item a {
  color: #444444;
  display: block;
  line-height: 30px;
  margin: 0px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-menu .menu-item a:hover {
  color: #777777;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .nav-menu .menu-item a {
    font-size: 20px;
    margin: 8px;
  }
}

.sub-nav {
  border: 1px solid #ccc;
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 5px 5px;
  list-style: none;
  width: 230px;
}
@media screen and (max-width: 768px) {
  .sub-nav {
    position: relative;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
}

.nav__link:hover + .sub-nav {
  display: block;
}

.sub-nav:hover {
  display: block;
}

section{
  font-family: 'Cascadia Code';
  margin-top: 20vh;
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
}
.card {
   box-shadow: rgba(83, 156, 14, 0.15) 0px 5px 15px 0px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    width: 400px; 
}

.card .text{
  color: rgb(172, 75, 19);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .text img{
    height: 120px;
    border-radius: 50%;
  margin-bottom:10px;
}

.card .text h3 {
    font-size: 40px;
    font-weight: 400;
}

.card .text p:nth-of-type(1){
    color: rgb(13, 218, 30);
    font-size: 20px;
    margin-top: -5px;
}

.card .text p:nth-of-type(2){
    margin: 10px;
    width: 90%;
    text-align: center;
}

.card .links{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.card .links i{
    color: rgb(35, 182, 219);
    font-size: 20px;
    cursor: pointer;
}

.card .links i:hover{
    color:rgb(29, 157, 189) ;
}

.center{
  position: relative;
  top:40vh;
 display: flex;
 justify-content: center;
 align-items: center;
}